$themeColor: #409eff;

$defaultColor: #ffffff;
$defaultHoverBgColor: #ecf5ff;

$primaryColor: #409eff;
$primaryHoverColor: #66b1ff;

$successColor: #67c23a;
$successHoverColor: #85ce61;

$infoColor: #909399;
$infoActiveColor: #82848a;
$infoHoverColor: #a6a9ad;

$warningColor: #e6a23c;
$warningActiveColor: #cf9236;
$warningHoverColor: #ebb563;

$dangerColor: #f56c6c;
$dangerActiveColor: #dd6161;
$dangerHoverColor: #f78989;
