.cc-row {
  margin-bottom: 20px;
  &__flex {
    display: flex;
  }
  &.is-justify{
    &-start {
      justify-content: flex-start;
    }
    &-end {
      justify-content: flex-end;
    }
    &-center {
      justify-content: center;
    }
    &-space-between {
      justify-content: space-between;
    }
    &-space-around {
      justify-content: space-around;
    }
  }
}
